  button{
    border: none;
    list-style: none;
    color: #fff;
    background-color: #001C8A;   
    border-radius: 30px; 
<<<<<<< HEAD
    width: 10em;
    height: 3em;
=======
    width: 110px;
    height: 37px;
>>>>>>> proyectos
    cursor: pointer;
  }

  #proyectos a, button{
    margin: 10px;
  }

  #proyectos .btn-ver-mas{
    text-align: center; 
    width: 10em;
    height: 3.5em;
  }