* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  body{
    background-color: rgb(41,41,41);
    margin: 10px;
  }

  main{
    flex-wrap: wrap;
  }

  h1, p{
    color: #fff;
  }

  #conteiner-main section{
    scroll-margin: 84px;
  }

/*nav*/
  #conteiner-nav{
    display: flex;
    height: 70px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
  }

  #conteiner-nav #menu ul li a{
    color: #000;
  }

  .menu-ambur{
    width: 95%;
  }

  .menu-ambur{
    display: none;
  }

/*conteiner main*/

  #conteiner-main{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #inicio{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
  }

  #inicio h2{
    color: rgb(21, 0, 116);
  }

  #inicio h3{
    color: rgb(0, 0, 0);
  }
  
/*conteiner habilidades*/

  #habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 30px;
  }

/* formación */

  #formación{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 30px;
  }

/* proyectos */

  #proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 30px;
  }

/* contacto */

  #contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 30px;
  }

/* footer */

  #container--footer img{
   width: 48px;
   height: 48px; 
  }