/* formateo */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* nav */

  #conteiner-nav .logo-img{
    display: block;
    width: 60px;
    height: 60px;
    text-align: left;
  }

  #conteiner-nav .menu-ambur{
    display: none;
  }

  #conteiner-nav #menu ul{
    margin: 21px;
  }

  #conteiner-nav #menu ul li{
    display: inline;
    align-items: center;
    justify-content: center;
  }

  #conteiner-nav #menu ul li a{
    text-align: center;
    padding: 24px;
    font-size: 20px;
  }

  #conteiner-nav{
    justify-content: center;
    width: 95%;
    height: 60px;
  }

/* main */

  #conteiner-main #inicio{
    margin-top: 8em;
    padding: 2em;
  }

  #conteiner-main #inicio img{
    width: 100px;
    height: 100px;
  }

/* habilidades */

  #habilidades{
    display: none;
  }

/* formación */

  #formación{
    display: none;
  }

/* proyectos */

  #proyectos{
    display: none;
  }

/* contacto */

  #contacto{
    display: none;
  }

/* footer */

  #container--footer{
    display: none;
  }
