#conteiner-nav .menu-ambur{
  display: none;
}

#conteiner-nav #menu{
  width: 100%;
}

#conteiner-main #inicio img{
  width: 100px;
  height: 100px;
}

#habilidades{
  display: none;
}

#formación{
  display: none;
}

#proyectos{
  display: none;
}

#contacto{
  display: none;
}

#container--footer{
  display: none;
}
