/* formateo */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* nav */

  #conteiner-nav{
    z-index: 1;
  }

  #conteiner-nav .logo-img{
    width: 60px;
    height: 60px;
  }

  #conteiner-nav .menu-ambur{
    display: none;
  }

  #conteiner-nav #menu{
    width: 95%;
    text-align: center;
  }

  #conteiner-nav #menu ul{
    margin: 21px;
  }

  #conteiner-nav #menu ul li{
    display: inline;
    margin: 5px;
  }

  #conteiner-nav #menu ul li a{
    text-align: center;
    padding: 24px;
    font-size: 20px;
  }

  #conteiner-nav{
    width: 96.1%;
    height: 60px;
    align-items: center;
    right: 1.2em;
  }

/* main */

  #conteiner-main #inicio{
    margin-top: 6em;
    padding: 6em;
    border: 2px solid #000;
    width: 98%;
    height: 25em;
  }
  
  #conteiner-main #inicio img{
    width: 300px;
    height: 300px;
    float: right;
    border-radius: 20px;
    position: absolute;
    top: 10em;
    right: 10em;
  }

  #conteiner-main #inicio .conteiner-text{
    width: 50%;
    height: auto;
    text-align: center;
    margin: 10px;
  }

/* habilidades */

  #habilidades{
    margin-top: 2.5em;
    padding: 30px;
  }

/* formación */

  #formación{
    display: none;
  }

/* proyectos */

  #proyectos{
    display: none;
  }

/* contacto */

  #contacto{
    display: none;
  }

/* footer */

  #container--footer{
    display: none;
  }
