  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*nav*/
  
  #conteiner-nav{
    width: 100%;
  }

  .menu-ambur{
    display: flex;
    margin: 2px 20px 0px 0px;
    flex-direction: row;
    justify-content: end;
  }

  .mostrar{
    left: 0;
  }

  nav{
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    top: 5rem;
    left: -100%;
    width: 50%;
    height: 73vh;
    padding: 34px;
    transition: all 0.5s;
    border-radius: 25px;
  }

  nav ul li{
    margin: 30px;
  }

  nav ul li a{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  nav ul li a:active{
    background-color: #292929;
    border-radius: 10px;
    transition: all 0.1s;
  }

  #conteiner-nav img{
    width: 60px;
    height: 60px;
  }

  #conteiner-nav nav{
    display: block;
  }

/*conteiner main inicio*/
  
  #conteiner-main{
    text-align: center;
  }

  #inicio{
    width: 100%;
    height: 180vw;
    margin-top: 4em;
    padding: 2em;
  }

  #inicio img{
    width: 200px;
    height: 200px;
  }

  #inicio p{
    margin: 10px;
  }

/*conteiner main habilidades*/
  
  #habilidades{
    flex-wrap: wrap;
    margin-top: 2.5em;
    padding: 30px;
  }

  #habilidades h1{
    color: azure;
    width: 100%;
  }
  
/* formación */
  
  #formación{
    flex-wrap: wrap;
    margin-top: 2.5em;
    padding: 30px;
  }

  #formación h1{
    color: azure;
    width: 100%;
    margin: 10px;
  }

  #formación .oracle-next-education{
    background-color: #292929;
    border-radius: 30px;
    padding: 30px;
  }

  #formación .oracle-next-education img{
    width: 50%;
  }

/* proyectos */

  #proyectos{
    flex-wrap: wrap;
    margin-top: 2.5em;
    padding: 30px;
  }

  #proyectos .proyecto-1{
    background-color: #4f4f4f;
    border-radius: 30px;
    margin: 10px;
  }

  #proyectos .proyecto-1 img{
    width: 100%;
    border-radius: 30px 30px 0px 0px;
  }

/* footer */

  #container--footer{
    align-items: center;
    text-align: center;
  }

  #container--footer .container_text--footer {
    color: #fff;
  }